
<%- include('partials/header.ejs') %>

<main class = "mainpage">
    <h1 class = "title">Welcome!</h1>
    <h4 class = "title">This is a wild animals database</h4>
    <a href="/list" class = "button_container"><button class = "blist"> See the animals</button></a>
</main>


<%- include('partials/footer.ejs') %>
